obj/
bin/
Obj/
Bin/
*.csproj.user
*.suo
*.cache
*~
*.swp
*.pdb
*.pidb
*.mdb
*.userprefs
*.orig
*.pdb
*.mdb
*.log
*.orig
*.exe

*.db
*.DS_Store

*.min.css
*.min.js
*test-results

*.perso
*.log
*.orig
log.txt
